# Monitor config

  set $w-01 "1"
  set $w-02 "2"
  set $w-03 "3"
  set $w-04 "4"
  set $w-05 "5"
  set $w-06 "6"
  set $w-07 "7"
  set $w-08 "8"
  set $w-09 "9"
  set $w-00 "10"

  workspace $w-01 output $display-1
  workspace $w-02 output $display-1
  workspace $w-03 output $display-1
  workspace $w-04 output $display-1
  workspace $w-05 output $display-1
  workspace $w-06 output $display-1
  workspace $w-07 output $display-1
  workspace $w-08 output $display-1
  workspace $w-09 output $display-1
  workspace $w-00 output $display-1

  # Switch to workspace
  bindsym $mod+1 workspace $w-01
  bindsym $mod+2 workspace $w-02
  bindsym $mod+3 workspace $w-03
  bindsym $mod+4 workspace $w-04
  bindsym $mod+5 workspace $w-05
  bindsym $mod+6 workspace $w-06
  bindsym $mod+7 workspace $w-07
  bindsym $mod+8 workspace $w-08
  bindsym $mod+9 workspace $w-09
  bindsym $mod+0 workspace $w-00
  # Move focused container to workspace
  bindsym $mod+Shift+1 move container to workspace $w-01
  bindsym $mod+Shift+2 move container to workspace $w-02
  bindsym $mod+Shift+3 move container to workspace $w-03
  bindsym $mod+Shift+4 move container to workspace $w-04
  bindsym $mod+Shift+5 move container to workspace $w-05
  bindsym $mod+Shift+6 move container to workspace $w-06
  bindsym $mod+Shift+7 move container to workspace $w-07
  bindsym $mod+Shift+8 move container to workspace $w-08
  bindsym $mod+Shift+9 move container to workspace $w-09
  bindsym $mod+Shift+0 move container to workspace $w-00

  ## Secondary monitor
  set $w-11 "11"
  set $w-12 "12"
  set $w-13 "13"
  set $w-14 "14"
  set $w-15 "15"
  set $w-16 "16"
  set $w-17 "17"
  set $w-18 "18"
  set $w-19 "19"
  set $w-10 "110"

  workspace $w-11 output $display-2
  workspace $w-12 output $display-2
  workspace $w-13 output $display-2
  workspace $w-14 output $display-2
  workspace $w-15 output $display-2
  workspace $w-16 output $display-2
  workspace $w-17 output $display-2
  workspace $w-18 output $display-2
  workspace $w-19 output $display-2
  workspace $w-10 output $display-2

  # Switch to workspace
  bindsym $mod+Alt+1 workspace $w-11
  bindsym $mod+Alt+2 workspace $w-12
  bindsym $mod+Alt+3 workspace $w-13
  bindsym $mod+Alt+4 workspace $w-14
  bindsym $mod+Alt+5 workspace $w-15
  bindsym $mod+Alt+6 workspace $w-16
  bindsym $mod+Alt+7 workspace $w-17
  bindsym $mod+Alt+8 workspace $w-18
  bindsym $mod+Alt+9 workspace $w-19
  bindsym $mod+Alt+0 workspace $w-10
  # Move focused container to workspace
  bindsym $mod+Alt+Shift+1 move container to workspace $w-11
  bindsym $mod+Alt+Shift+2 move container to workspace $w-12
  bindsym $mod+Alt+Shift+3 move container to workspace $w-13
  bindsym $mod+Alt+Shift+4 move container to workspace $w-14
  bindsym $mod+Alt+Shift+5 move container to workspace $w-15
  bindsym $mod+Alt+Shift+6 move container to workspace $w-16
  bindsym $mod+Alt+Shift+7 move container to workspace $w-17
  bindsym $mod+Alt+Shift+8 move container to workspace $w-18
  bindsym $mod+Alt+Shift+9 move container to workspace $w-19
  bindsym $mod+Alt+Shift+0 move container to workspace $w-10
  # Note: workspaces can have any name you want, not just numbers.
  # We just use 1-10 as the default.
